<section class="carousel">
    <div class="carousel__container">
        <div class="carousel-item">
            <img class="carousel-item__img" src="https://source.unsplash.com/random?film" alt="Movie">
            <div class="carousel-item__details">
                <div class="">
                    <img src="https://img.icons8.com/flat-round/64/000000/play--v1.png" alt="play"/>
                    <img src="https://img.icons8.com/flat-round/64/000000/plus.png" alt="plus"/>
                </div>
                <p class="carousel-item__details--title">
                    Description Test
                </p>
                <p class="carousel-item__details--subtitle">
                    2019 16+ 114 minutes
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="carousel-item__img" src="https://source.unsplash.com/random?movies" alt="Movie">
            <div class="carousel-item__details">
                <div class="">
                    <img src="https://img.icons8.com/flat-round/64/000000/play--v1.png" alt="play"/>
                    <img src="https://img.icons8.com/flat-round/64/000000/plus.png" alt="plus"/>
                </div>
                <p class="carousel-item__details--title">
                    Description Test
                </p>
                <p class="carousel-item__details--subtitle">
                    2019 16+ 114 minutes
                </p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="carousel-item__img" src="https://source.unsplash.com/random?city" alt="City">
            <div class="carousel-item__details">
                <div class="">
                    <img src="https://img.icons8.com/flat-round/64/000000/play--v1.png" alt="play"/>
                    <img src="https://img.icons8.com/flat-round/64/000000/plus.png" alt="plus"/>
                </div>
                <p class="carousel-item__details--title">
                    Description Test
                </p>
                <p class="carousel-item__details--subtitle">
                    2019 16+ 114 minutes
                </p>
            </div>
        </div>
    </div>
</section>